In [1]:
import pandas as pd
import numpy as np

In [2]:
Hilal_path= r"C:\Users\bbuser\Desktop\DataScience-Brain-Bytes\Team_members\from_Hajer\data\hilal_properties_cleaned.csv"
Hilal_df = pd.read_csv(Hilal_path)
Hilal_df

,Property_Name,City,Beds,Baths,Garage,Cost,Area,Ad_Type
0,3-BEDROOM APARTMENT,Bausher,3.0,3.0,SHADED,45000,NaN,For Sale
1,3-BEDROOM VILLA,Al Mawaleh,3.0,4.0,SHADED,290000,NaN,For Sale
2,6-BEDROOM TWIN VILLA,Bausher,6.0,7.0,SHADED,180000,NaN,For Sale
3,7-BEDROOM DETACHED VILLA,Al Ansab,7.0,9.0,SHADED,300000,758.00,For Sale
4,4-BEDROOM DETACHED VILLA,Al Hail,4.0,6.0,SHADED,80000,NaN,For Sale
...,...,...,...,...,...,...,...,...
58,6-BEDROOM DETACHED VILLA,Al Hail,6.0,9.0,SHADED OUTSIDE,300000,NaN,For Sale
59,3 BEDROOM TOWNHOUSE,Al Khoudh,3.0,3.0,UNSHADED,80000,199.00,For Sale
60,8 BEDROOM DETACHED VILLA IN (MAWALLEH),Al Mawaleh,6.0,8.0,4,-320000,670.00,For Sale
61,7 BEDROOM DETACHED VILLA IN (AL KHUWAIR),Al Khuwair,7.0,8.0,1,85000,NaN,For Sale
62,FULLY FURNISHED 2 BEDROOM APARTMENT,Salalah,2.0,2.0,1,90000,129.35,For Sale

# **Exploraty data**

In [3]:
Hilal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_Name  63 non-null     object
 1   City           61 non-null     object
 2   Beds           55 non-null     float64
 3   Baths          55 non-null     float64
 4   Garage         48 non-null     object
 5   Cost           63 non-null     int64
 6   Area           47 non-null     float64
 7   Ad_Type        63 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 4.1+ KB

In [4]:
Hilal_df.columns

Index(['Property_Name', 'City', 'Beds', 'Baths', 'Garage', 'Cost', 'Area',
       'Ad_Type'],
      dtype='object')

In [5]:
Hilal_df.describe()

            Beds      Baths           Cost         Area
count  55.000000  55.000000      63.000000    47.000000
mean    4.836364   5.981818  125726.190476   754.007447
std     1.761351   2.112493  101949.249715  1513.593972
min     1.000000   1.000000 -320000.000000    18.800000
25%     4.000000   5.000000   80000.000000   270.000000
50%     5.000000   6.000000  110000.000000   334.000000
75%     6.000000   7.500000  182500.000000   597.500000
max     9.000000   9.000000  350000.000000  7502.000000

In [6]:
Hilal_df.shape

(63, 8)

In [7]:
Hilal_df.head(10)

,Property_Name,City,Beds,Baths,Garage,Cost,Area,Ad_Type
0,3-BEDROOM APARTMENT,Bausher,3.0,3.0,SHADED,45000,NaN,For Sale
1,3-BEDROOM VILLA,Al Mawaleh,3.0,4.0,SHADED,290000,NaN,For Sale
2,6-BEDROOM TWIN VILLA,Bausher,6.0,7.0,SHADED,180000,NaN,For Sale
3,7-BEDROOM DETACHED VILLA,Al Ansab,7.0,9.0,SHADED,300000,758.0,For Sale
4,4-BEDROOM DETACHED VILLA,Al Hail,4.0,6.0,SHADED,80000,NaN,For Sale
5,5-BEDROOM TWIN VILLA,Al Ansab,5.0,7.0,UNSHADED,700,NaN,"For Rent, For Sale"
6,7-BEDROOM TWIN VILLA,NaN,7.0,8.0,SHADED,105000,573.0,For Sale
7,6+1 BEDROOM DETACHED VILLA,Bausher,6.0,7.0,SHADED,180,NaN,For Sale
8,4+1 BEDROOM COMPOUND VILLA,Al Khoudh,4.0,5.0,OUTSIDE,80000,260.0,For Sale
9,7-BEDROOM DETACHED VILLA,Al Ansab,7.0,9.0,SHADED,220,NaN,For Sale

In [8]:
Hilal_df.tail(10)

,Property_Name,City,Beds,Baths,Garage,Cost,Area,Ad_Type
53,FURNISHED 1 BEDROOM APARTMENT IN (MUSCAT BAY),MUSCAT BAY,1.0,1.0,SHADED,85000,79.00,For Sale
54,2-BEDROOM APARTMENT,NaN,2.0,3.0,OUTSIDE,35000,137.00,For Sale
55,4-BEDROOM STANDALONE VILLA,Muscat Hills,4.0,5.0,SHADED,350000,NaN,For Sale
56,OFFICE SPACE,Al Ghoubrah,NaN,NaN,OUTSIDE,650,NaN,"For Rent, For Sale"
57,6 BEDROOM TWIN-VILLA,Al Khoudh,6.0,7.0,NaN,130000,412.00,For Sale
58,6-BEDROOM DETACHED VILLA,Al Hail,6.0,9.0,SHADED OUTSIDE,300000,NaN,For Sale
59,3 BEDROOM TOWNHOUSE,Al Khoudh,3.0,3.0,UNSHADED,80000,199.00,For Sale
60,8 BEDROOM DETACHED VILLA IN (MAWALLEH),Al Mawaleh,6.0,8.0,4,-320000,670.00,For Sale
61,7 BEDROOM DETACHED VILLA IN (AL KHUWAIR),Al Khuwair,7.0,8.0,1,85000,NaN,For Sale
62,FULLY FURNISHED 2 BEDROOM APARTMENT,Salalah,2.0,2.0,1,90000,129.35,For Sale

# **Check for null values/missing values**

In [9]:
Hilal_df.isnull().sum()

Property_Name     0
City              2
Beds              8
Baths             8
Garage           15
Cost              0
Area             16
Ad_Type           0
dtype: int64

# **Check for duplicates**

In [10]:
Hilal_df.duplicated().sum()

np.int64(0)

# **Filling NaN**

In [11]:
# First I'll change some type of data so that I can fill them with the write way
Hilal_df["Garage"] = pd.to_numeric(Hilal_df["Garage"], errors="coerce")

In [12]:
#now I'll check if it changed
Hilal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_Name  63 non-null     object
 1   City           61 non-null     object
 2   Beds           55 non-null     float64
 3   Baths          55 non-null     float64
 4   Garage         30 non-null     float64
 5   Cost           63 non-null     int64
 6   Area           47 non-null     float64
 7   Ad_Type        63 non-null     object
dtypes: float64(4), int64(1), object(3)
memory usage: 4.1+ KB

In [13]:
#now I can start filling NaN

### **City**

**I choos eto fill it with the mode because ONLY 2 values are missing, and cities are
usually repeated in listings. Using the most common city avoids introducing noise, 
while "Unknown" keeps missing values identifiable if needed.**

In [14]:
Hilal_df["City"].fillna(Hilal_df["City"].mode()[0], inplace=True)

C:\Users\bbuser\AppData\Local\Temp\ipykernel_17208\4008645951.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Hilal_df["City"].fillna(Hilal_df["City"].mode()[0], inplace=True)

In [15]:
Hilal_df.isnull().sum()

Property_Name     0
City              0
Beds              8
Baths             8
Garage           33
Cost              0
Area             16
Ad_Type           0
dtype: int64

### **Beds and Baths**

**I choose to fill them with Median because Beds/Baths are counts (e.g., 1, 2, 3, 4).
Median is robust to outliers. If a few luxury properties have 10+ bedrooms, they wonâ€™t distort the median.
Using mean could give fractional results (e.g., 2.4 bathrooms), which isn't realistic for counts.**

In [16]:
Hilal_df["Beds"].fillna(Hilal_df["Beds"].median(), inplace=True)
Hilal_df["Baths"].fillna(Hilal_df["Baths"].median(), inplace=True)

C:\Users\bbuser\AppData\Local\Temp\ipykernel_17208\2962336912.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Hilal_df["Beds"].fillna(Hilal_df["Beds"].median(), inplace=True)
C:\Users\bbuser\AppData\Local\Temp\ipykernel_17208\2962336912.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Hilal_df["Baths"].fillna(Hilal_df["Baths"].median(), inplace=True)

In [17]:
Hilal_df.isnull().sum()

Property_Name     0
City              0
Beds              0
Baths             0
Garage           33
Cost              0
Area             16
Ad_Type           0
dtype: int64

### **Garage**

**I choose to fill these NaN with (0) because In real estate, a missing garage usually means no garage.
Filling with 0 is semantically meaningful and avoids falsely inflating the number of garages.
Alternative: median() if you suspect garages were omitted by mistake and most properties have garage**

In [18]:
Hilal_df["Garage"].fillna(0, inplace=True)

C:\Users\bbuser\AppData\Local\Temp\ipykernel_17208\1255387793.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Hilal_df["Garage"].fillna(0, inplace=True)

In [19]:
Hilal_df.isnull().sum()

Property_Name     0
City              0
Beds              0
Baths             0
Garage            0
Cost              0
Area             16
Ad_Type           0
dtype: int64

### **Area**

**I choose to fill theses data with Median because Area can have large variations (e.g., 80 mÂ² to 1200 mÂ²).
Median again avoids skew from large luxury properties.
Helps maintain central tendency and keeps distributions realistic.**

In [20]:
Hilal_df["Area"].fillna(Hilal_df["Area"].median(), inplace=True)

C:\Users\bbuser\AppData\Local\Temp\ipykernel_17208\1732699549.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Hilal_df["Area"].fillna(Hilal_df["Area"].median(), inplace=True)

In [21]:
Hilal_df.isnull().sum()

Property_Name    0
City             0
Beds             0
Baths            0
Garage           0
Cost             0
Area             0
Ad_Type          0
dtype: int64

# **Rename columns**

In [22]:
# I'll rename the columns before I merge them with the other dataset
Hilal_df.rename(columns={
    "Property_Name": "property_name",
    "Cost": "sale_price OMR",
    "City": "prop_location",
    "Area": "prop_area SqM",
    "Baths": "prop_bathrooms",
    "Beds": "number_of_rooms"
}, inplace=True)

In [23]:
Hilal_df

,property_name,prop_location,number_of_rooms,prop_bathrooms,Garage,sale_price OMR,prop_area SqM,Ad_Type
0,3-BEDROOM APARTMENT,Bausher,3.0,3.0,0.0,45000,334.00,For Sale
1,3-BEDROOM VILLA,Al Mawaleh,3.0,4.0,0.0,290000,334.00,For Sale
2,6-BEDROOM TWIN VILLA,Bausher,6.0,7.0,0.0,180000,334.00,For Sale
3,7-BEDROOM DETACHED VILLA,Al Ansab,7.0,9.0,0.0,300000,758.00,For Sale
4,4-BEDROOM DETACHED VILLA,Al Hail,4.0,6.0,0.0,80000,334.00,For Sale
...,...,...,...,...,...,...,...,...
58,6-BEDROOM DETACHED VILLA,Al Hail,6.0,9.0,0.0,300000,334.00,For Sale
59,3 BEDROOM TOWNHOUSE,Al Khoudh,3.0,3.0,0.0,80000,199.00,For Sale
60,8 BEDROOM DETACHED VILLA IN (MAWALLEH),Al Mawaleh,6.0,8.0,4.0,-320000,670.00,For Sale
61,7 BEDROOM DETACHED VILLA IN (AL KHUWAIR),Al Khuwair,7.0,8.0,1.0,85000,334.00,For Sale
62,FULLY FURNISHED 2 BEDROOM APARTMENT,Salalah,2.0,2.0,1.0,90000,129.35,For Sale

In [24]:
#I'll convert float to int
Hilal_df['sale_price OMR'] =Hilal_df['sale_price OMR'].astype(int)
Hilal_df['prop_area SqM'] =Hilal_df['prop_area SqM'].astype(int)
Hilal_df['prop_bathrooms'] =Hilal_df['prop_bathrooms'].astype(int)
Hilal_df['number_of_rooms'] =Hilal_df['number_of_rooms'].astype(int)
Hilal_df['Garage'] =Hilal_df['Garage'].astype(int)

In [25]:
Hilal_df

,property_name,prop_location,number_of_rooms,prop_bathrooms,Garage,sale_price OMR,prop_area SqM,Ad_Type
0,3-BEDROOM APARTMENT,Bausher,3,3,0,45000,334,For Sale
1,3-BEDROOM VILLA,Al Mawaleh,3,4,0,290000,334,For Sale
2,6-BEDROOM TWIN VILLA,Bausher,6,7,0,180000,334,For Sale
3,7-BEDROOM DETACHED VILLA,Al Ansab,7,9,0,300000,758,For Sale
4,4-BEDROOM DETACHED VILLA,Al Hail,4,6,0,80000,334,For Sale
...,...,...,...,...,...,...,...,...
58,6-BEDROOM DETACHED VILLA,Al Hail,6,9,0,300000,334,For Sale
59,3 BEDROOM TOWNHOUSE,Al Khoudh,3,3,0,80000,199,For Sale
60,8 BEDROOM DETACHED VILLA IN (MAWALLEH),Al Mawaleh,6,8,4,-320000,670,For Sale
61,7 BEDROOM DETACHED VILLA IN (AL KHUWAIR),Al Khuwair,7,8,1,85000,334,For Sale
62,FULLY FURNISHED 2 BEDROOM APARTMENT,Salalah,2,2,1,90000,129,For Sale

In [26]:
#I've noticed one negative value, I'll remove the negative and keep the number as it is 
Hilal_df['sale_price OMR'] = Hilal_df['sale_price OMR'].abs()

In [27]:
Hilal_df = Hilal_df[~Hilal_df["Ad_Type"].str.contains("for sale", case=False) | ~Hilal_df["Ad_Type"].str.contains("for rent", case=False)]

In [28]:
Hilal_df

,property_name,prop_location,number_of_rooms,prop_bathrooms,Garage,sale_price OMR,prop_area SqM,Ad_Type
0,3-BEDROOM APARTMENT,Bausher,3,3,0,45000,334,For Sale
1,3-BEDROOM VILLA,Al Mawaleh,3,4,0,290000,334,For Sale
2,6-BEDROOM TWIN VILLA,Bausher,6,7,0,180000,334,For Sale
3,7-BEDROOM DETACHED VILLA,Al Ansab,7,9,0,300000,758,For Sale
4,4-BEDROOM DETACHED VILLA,Al Hail,4,6,0,80000,334,For Sale
6,7-BEDROOM TWIN VILLA,Bausher,7,8,0,105000,573,For Sale
7,6+1 BEDROOM DETACHED VILLA,Bausher,6,7,0,180,334,For Sale
8,4+1 BEDROOM COMPOUND VILLA,Al Khoudh,4,5,0,80000,260,For Sale
9,7-BEDROOM DETACHED VILLA,Al Ansab,7,9,0,220,334,For Sale
11,6 BEDROOM DETACHED VILLA,Maabelah,6,8,0,200000,334,For Sale
12,3BEDROOM FURNISHED TWIN VILLA IN (AL KHOUD),Al Khoudh,3,4,0,105000,300,For Sale
13,FARM LAND FOR SALE IN (BARKA),Barka,5,6,0,170000,7502,For Sale
14,FARM LAND FOR SALE IN (BARKA),Barka,5,6,0,140000,5544,For Sale
15,FARM FOR SALE IN (BARKA),Barka,3,6,0,200000,6117,For Sale
16,9 BEDROOM DETACHED VILLA,Qurum,9,9,0,166000,405,For Sale
17,8 BEDROOM TWIN VILLA IN ( AL-HAIL NORTH ),Al Hail,8,9,0,180000,520,For Sale
18,5 BEDROOM VILLA IN (QURUM),Qurum,4,5,2,175000,180,For Sale
19,6 BEDROOM VILLA IN (ALKHOUDH),Al Khoudh,6,8,2,145000,280,For Sale
20,5 BEDROOM VILLA IN (BAUSHER),Bausher,5,8,3,220000,350,For Sale
21,6 BEDROOM VILLA IN (BAUSHER),Bausher,6,7,0,220000,285,For Sale
22,5 BEDROOM TWINVILLA IN (AL ANSAB),Al Ansab,5,6,3,140000,500,For Sale
23,5 BEDROOM TWINVILLA IN (AL MAWALEH),Bausher,5,6,2,85000,334,For Sale
24,5 BEDROOM DETACHED VILLA IN ( AL ANSAB),Al Ansab,5,8,3,255000,660,For Sale
25,FURNISHED 5 BEDROOM VILLA IN ( MADINAT SULTAN ...,Madinat Qaboos (MQ),5,6,2,185000,370,For Sale
26,5 BEDROOM TWIN-VILLA IN ( MAABELLAH),Maabelah,5,7,2,75000,300,For Sale
27,5 BEDROOM TWINVILLA IN ( MADINAT AL SULTAN QAB...,Madinat Qaboos (MQ),5,5,2,265000,284,For Sale
28,5 BEDROOM VILLA IN ( QURUM 20 ),Qurum,5,5,2,110000,209,For Sale
29,9 BEDROOM VILLA IN (BAUSHER),Bausher,9,9,2,200000,334,For Sale
30,RESIDENTIAL BUILDING WITH 8 APARTMENTS IN (DA...,Mutrah,5,6,0,130000,410,For Sale
31,LAND FOR SALE IN ( AL KHOUDH),Al Khoudh,5,6,0,90000,595,For Sale
32,5 BEDROOM TWINVILLA IN (AL MAWALEH),Al Mawaleh,5,6,2,128000,307,For Sale
33,5 BEDROOM VILLA IN (AL ANSAB),Al Ansab,5,6,2,100000,300,For Sale
34,4 BEDROOM VILLA IN (ALKHOUDH),Al Khoudh,4,5,2,110000,336,For Sale
35,RESIDENTIAL LAND FOR SALE IN ( AL ANSAB),Al Ansab,5,6,0,115000,600,For Sale
36,2 BEDROOM APARTMENT IN (MUSCAT HILLS),Muscat Hills,2,2,0,85000,130,For Sale
37,6 BEDROOM TWIN VILLA,Al Mawaleh,6,7,2,140000,300,For Sale
38,5 BEDROOM VILLA IN (MAABELLAH),Maabelah,5,6,2,75000,355,For Sale
39,5 BEDROOM TWIN-VILLA IN ( AL MAWALEH),Al Mawaleh,5,6,2,130000,236,For Sale
40,4 BEDROOM VILLA IN (BAUSHER),Bausher,4,5,2,85000,301,For Sale
41,5 BEDROOM VILLA IN (BAUSHER),Bausher,5,6,2,250000,601,For Sale
42,2 BEDROOM RESORT IN ( BARKA),Barka,5,6,0,80000,334,For Sale
43,RESIDENTIAL LAND IN ( AL JAFNINE),Rusayl,5,6,0,41000,600,For Sale
44,5 BEDROOM VILLA IN (BAUHSER),Bausher,5,6,2,135000,300,For Sale
45,5 BEDROOM VILLA IN (ALGHUBRA),Al Ghoubrah,5,6,2,250000,600,For Sale
46,7 BEDROOM VILLA IN (ALANSAB),Al Ansab,7,9,2,220000,633,For Sale
47,3 BEDROOM APARTMENT IN (ALANSAB),Al Ansab,3,3,2,39000,18,For Sale
48,5 BEDROOM DETACHED VILLA IN (MADINAT SULTAN QA...,Madinat Qaboos (MQ),5,7,3,300000,857,For Sale
49,5 BEDROOM TWINVILLA IN (MAABELAH),Maabelah,5,7,2,72000,300,For Sale
50,5 BEDROOM TWINVILLA IN (FALAJ ALSHAM),Bausher,5,6,2,95000,232,For Sale
51,1 BEDROOM APARTMENT IN (ALKHOUD),Al Khoudh,1,2,2,32000,69,For Sale
52,FURNISHED 2 BEDROOM APARTMENT IN (MSQ),Madinat Qaboos (MQ),2,2,0,65000,334,For Sale
53,FURNISHED 1 BEDROOM APARTMENT IN (MUSCAT BAY),MUSCAT BAY,1,1,0,85000,79,For Sale
54,2-BEDROOM APARTMENT,Bausher,2,3,0,35000,137,For Sale
55,4-BEDROOM STANDALONE VILLA,Muscat Hills,4,5,0,350000,334,For Sale
57,6 BEDROOM TWIN-VILLA,Al Khoudh,6,7,0,130000,412,For Sale
58,6-BEDROOM DETACHED VILLA,Al Hail,6,9,0,300000,334,For Sale
59,3 BEDROOM TOWNHOUSE,Al Khoudh,3,3,0,80000,199,For Sale
60,8 BEDROOM DETACHED VILLA IN (MAWALLEH),Al Mawaleh,6,8,4,320000,670,For Sale
61,7 BEDROOM DETACHED VILLA IN (AL KHUWAIR),Al Khuwair,7,8,1,85000,334,For Sale
62,FULLY FURNISHED 2 BEDROOM APARTMENT,Salalah,2,2,1,90000,129,For Sale

In [29]:
#Since the other dataset don't have (Garage) I'll drop it
Hilal_df = Hilal_df.drop("Garage", axis=1)

In [30]:
Hilal_df

,property_name,prop_location,number_of_rooms,prop_bathrooms,sale_price OMR,prop_area SqM,Ad_Type
0,3-BEDROOM APARTMENT,Bausher,3,3,45000,334,For Sale
1,3-BEDROOM VILLA,Al Mawaleh,3,4,290000,334,For Sale
2,6-BEDROOM TWIN VILLA,Bausher,6,7,180000,334,For Sale
3,7-BEDROOM DETACHED VILLA,Al Ansab,7,9,300000,758,For Sale
4,4-BEDROOM DETACHED VILLA,Al Hail,4,6,80000,334,For Sale
6,7-BEDROOM TWIN VILLA,Bausher,7,8,105000,573,For Sale
7,6+1 BEDROOM DETACHED VILLA,Bausher,6,7,180,334,For Sale
8,4+1 BEDROOM COMPOUND VILLA,Al Khoudh,4,5,80000,260,For Sale
9,7-BEDROOM DETACHED VILLA,Al Ansab,7,9,220,334,For Sale
11,6 BEDROOM DETACHED VILLA,Maabelah,6,8,200000,334,For Sale
12,3BEDROOM FURNISHED TWIN VILLA IN (AL KHOUD),Al Khoudh,3,4,105000,300,For Sale
13,FARM LAND FOR SALE IN (BARKA),Barka,5,6,170000,7502,For Sale
14,FARM LAND FOR SALE IN (BARKA),Barka,5,6,140000,5544,For Sale
15,FARM FOR SALE IN (BARKA),Barka,3,6,200000,6117,For Sale
16,9 BEDROOM DETACHED VILLA,Qurum,9,9,166000,405,For Sale
17,8 BEDROOM TWIN VILLA IN ( AL-HAIL NORTH ),Al Hail,8,9,180000,520,For Sale
18,5 BEDROOM VILLA IN (QURUM),Qurum,4,5,175000,180,For Sale
19,6 BEDROOM VILLA IN (ALKHOUDH),Al Khoudh,6,8,145000,280,For Sale
20,5 BEDROOM VILLA IN (BAUSHER),Bausher,5,8,220000,350,For Sale
21,6 BEDROOM VILLA IN (BAUSHER),Bausher,6,7,220000,285,For Sale
22,5 BEDROOM TWINVILLA IN (AL ANSAB),Al Ansab,5,6,140000,500,For Sale
23,5 BEDROOM TWINVILLA IN (AL MAWALEH),Bausher,5,6,85000,334,For Sale
24,5 BEDROOM DETACHED VILLA IN ( AL ANSAB),Al Ansab,5,8,255000,660,For Sale
25,FURNISHED 5 BEDROOM VILLA IN ( MADINAT SULTAN ...,Madinat Qaboos (MQ),5,6,185000,370,For Sale
26,5 BEDROOM TWIN-VILLA IN ( MAABELLAH),Maabelah,5,7,75000,300,For Sale
27,5 BEDROOM TWINVILLA IN ( MADINAT AL SULTAN QAB...,Madinat Qaboos (MQ),5,5,265000,284,For Sale
28,5 BEDROOM VILLA IN ( QURUM 20 ),Qurum,5,5,110000,209,For Sale
29,9 BEDROOM VILLA IN (BAUSHER),Bausher,9,9,200000,334,For Sale
30,RESIDENTIAL BUILDING WITH 8 APARTMENTS IN (DA...,Mutrah,5,6,130000,410,For Sale
31,LAND FOR SALE IN ( AL KHOUDH),Al Khoudh,5,6,90000,595,For Sale
32,5 BEDROOM TWINVILLA IN (AL MAWALEH),Al Mawaleh,5,6,128000,307,For Sale
33,5 BEDROOM VILLA IN (AL ANSAB),Al Ansab,5,6,100000,300,For Sale
34,4 BEDROOM VILLA IN (ALKHOUDH),Al Khoudh,4,5,110000,336,For Sale
35,RESIDENTIAL LAND FOR SALE IN ( AL ANSAB),Al Ansab,5,6,115000,600,For Sale
36,2 BEDROOM APARTMENT IN (MUSCAT HILLS),Muscat Hills,2,2,85000,130,For Sale
37,6 BEDROOM TWIN VILLA,Al Mawaleh,6,7,140000,300,For Sale
38,5 BEDROOM VILLA IN (MAABELLAH),Maabelah,5,6,75000,355,For Sale
39,5 BEDROOM TWIN-VILLA IN ( AL MAWALEH),Al Mawaleh,5,6,130000,236,For Sale
40,4 BEDROOM VILLA IN (BAUSHER),Bausher,4,5,85000,301,For Sale
41,5 BEDROOM VILLA IN (BAUSHER),Bausher,5,6,250000,601,For Sale
42,2 BEDROOM RESORT IN ( BARKA),Barka,5,6,80000,334,For Sale
43,RESIDENTIAL LAND IN ( AL JAFNINE),Rusayl,5,6,41000,600,For Sale
44,5 BEDROOM VILLA IN (BAUHSER),Bausher,5,6,135000,300,For Sale
45,5 BEDROOM VILLA IN (ALGHUBRA),Al Ghoubrah,5,6,250000,600,For Sale
46,7 BEDROOM VILLA IN (ALANSAB),Al Ansab,7,9,220000,633,For Sale
47,3 BEDROOM APARTMENT IN (ALANSAB),Al Ansab,3,3,39000,18,For Sale
48,5 BEDROOM DETACHED VILLA IN (MADINAT SULTAN QA...,Madinat Qaboos (MQ),5,7,300000,857,For Sale
49,5 BEDROOM TWINVILLA IN (MAABELAH),Maabelah,5,7,72000,300,For Sale
50,5 BEDROOM TWINVILLA IN (FALAJ ALSHAM),Bausher,5,6,95000,232,For Sale
51,1 BEDROOM APARTMENT IN (ALKHOUD),Al Khoudh,1,2,32000,69,For Sale
52,FURNISHED 2 BEDROOM APARTMENT IN (MSQ),Madinat Qaboos (MQ),2,2,65000,334,For Sale
53,FURNISHED 1 BEDROOM APARTMENT IN (MUSCAT BAY),MUSCAT BAY,1,1,85000,79,For Sale
54,2-BEDROOM APARTMENT,Bausher,2,3,35000,137,For Sale
55,4-BEDROOM STANDALONE VILLA,Muscat Hills,4,5,350000,334,For Sale
57,6 BEDROOM TWIN-VILLA,Al Khoudh,6,7,130000,412,For Sale
58,6-BEDROOM DETACHED VILLA,Al Hail,6,9,300000,334,For Sale
59,3 BEDROOM TOWNHOUSE,Al Khoudh,3,3,80000,199,For Sale
60,8 BEDROOM DETACHED VILLA IN (MAWALLEH),Al Mawaleh,6,8,320000,670,For Sale
61,7 BEDROOM DETACHED VILLA IN (AL KHUWAIR),Al Khuwair,7,8,85000,334,For Sale
62,FULLY FURNISHED 2 BEDROOM APARTMENT,Salalah,2,2,90000,129,For Sale

In [31]:
#Download file after changes
Hilal_df.to_csv("hilal_cleaned.csv", index=False)